<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">

    <title>Mi Primera Página Web</title>

</head>
<body background="{{ url_for('static',filename='recursos/fondos-para-paginas-web-grandes.jpg')}}"
      style="overflow-x: hidden;">

<div class="jumbotron">
    <h1 class="display-4 text-center">Hola al Curso de Programación Orientada a Objeto</h1>
    <p class="lead text-center">ESTE ES UN EJEMPLO DE UNA PEQUEÑA PAGINA WEB INTERACTIVA</p>
    <hr class="my-4">

    <script>
    function zorrito(){
    alert("Click en Zorrito");
    }
    function segundogato(){
    alert("Click en el otro Gatito");
    }
    function gatito(){
    alert("Click en Gatito");
    }
    function rana(){
    alert("Click en Rana");
    }
    function panda(){
    alert("Click en Panda");
    }
    function vaca(){
    alert("Click en Vaca");
    }





    </script>


    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" width="150" height="200"
                             src="{{ url_for('static',filename='recursos/gato2.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Michi</h5>
                            <p class="card-text">Bienvenido humano!</p>
                            <a href="#" class="btn btn-primary" onclick="gatito()">Gatito</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" width="150" height="200"
                             src="{{ url_for('static',filename='recursos/gatito.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gato</h5>
                            <p class="card-text">Hola!</p>
                            <a href="#" class="btn btn-primary" onclick="segundogato()">SegundoGato</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" width="150" height="200"
                             src="{{ url_for('static',filename='recursos/zorro.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zorro :P</h5>
                            <p class="card-text">Haz Click En El Botón!</p>
                            <a href="#" class="btn btn-primary" onclick="zorrito()">Zorrito</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-4">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" width="150" height="200"
                             src="{{ url_for('static',filename='recursos/rana.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Rene</h5>
                            <p class="card-text">jaja</p>
                            <a href="#" class="btn btn-primary" onclick="rana()">Ranita</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" width="150" height="200"
                             src="{{ url_for('static',filename='recursos/panda.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Panda</h5>
                            <p class="card-text">Dame Bambú!! :DD</p>
                            <a href="#" class="btn btn-primary" onclick="panda()">Pandita</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" width="150" height="200"
                             src="{{ url_for('static',filename='recursos/vaca.jpg')}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Vaquita</h5>
                            <p class="card-text">MOOooOoO :0</p>
                            <a href="#" class="btn btn-primary" onclick="vaca()">Vaquita</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <br>
        <p>Propiedad de Diego Inostroza</p>
    </footer>
</div>
</body>
</html>